// ESTILOS DE CONTENEDOR -----------------------------------------
.container__page--footer{
    width: 100vw;
    background-color: $backgroundFooter;
    border-top: 2px solid $colorTheme3;
    box-shadow: 0 0 7px 3px $colorTheme2;
}
.container__section--footer{
    width: 100%;
    height: $footerHeightMobile;
    
    display: flex;
    justify-content: center;
    align-items: center;
  
    @include mediaSize(tablet){
        height: $footerHeightTablet;
    }
    @include mediaSize(desktop){
        height: $footerHeightDesktop;
    }
}