
// HEADER TEXTS
.text__header{
    font-family: $fontFamilyBase;
    color: $colorTheme2;
    font-weight: $fontRegular;

    font-size: 13px;
    line-height: 13px;
    text-transform: lowercase;
    @include mediaSize(tablet){
        font-size: 16px;
        line-height: 16px;
        }
    @include mediaSize(desktop){
        font-size: 20px;
        line-height: 20px;
    }
}

// GENERAL TEXTS
.text__title{
    font-family: $fontFamilyBase;
    color: $colorTextBase;
    font-weight: $fontBold;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 16px;
        line-height: 20px;
        }
    @include mediaSize(desktop){
        font-size: 18px;
        line-height: 22px;
    }
}

.text__base{
    font-family: $fontFamilyBase;
    color: $colorTextBase;
    font-weight: $fontRegular;
    font-size: 12px;
    line-height: 18px;
    text-transform: none;
    @include mediaSize(tablet){
        font-size: 14px;
        line-height: 20px;
    }
    @include mediaSize(desktop){
        font-size: 16px;
        line-height: 22px;
    }
    &--bold{
        font-weight: $fontBold;
    }
}

// CARD TEXTS
.text__card{
    font-family: $fontFamilyBase;
    font-weight: $fontRegular;
    color: $colorTextBase;
    font-size: 12px;
    line-height: 12px;
    text-transform: lowercase;
    &--bold{
        font-weight: $fontBold;
    }
    &--title{
        font-size: 16px;
        line-height: 18px;
        font-weight: $fontExtraBold;
        letter-spacing: 1px;
    }
}

// FOOTER TEXTS
.text__footer{
    font-family: $fontFamilyBase;
    font-weight: $fontRegular;
    color: $colorTheme3;
    text-transform: none;
    font-size: 10px;
    line-height: 10px;
    &--link{
        font-weight: $fontBold;
        text-transform: capitalize;
    }
    @include mediaSize(tablet){
        font-size: 12px;
        line-height: 12px;
        }
    @include mediaSize(desktop){
        font-size: 14px;
        line-height: 14px;
    }
}
