// THEME COLORS
$colorTheme1: #01B0C8;
$colorTheme2: #89CF8F;
$colorTheme3: #CAD652;
$colorTheme4: #566573;
$colorTheme5: #DBDBDB;

$colorBlack: black;
$colorWhite: white;
$colorRed: red;

$colorTransparent: transparent;

// TEXT COLORS
$colorTextBase: $colorWhite;
$colorTextAlert: $colorRed;

$colorTextLight: $colorWhite;
$colorTextMiddle: $colorTheme4;
$colorTextDark: $colorBlack;

// FONTS
$fontFamilyBase: 'Raleway';

$fontExtraBold: 800;
$fontBold: 700;
$fontRegular: 400;

// BACKGROUNDS
$backgroundHeader: $colorBlack;
$bacKgroundSection: $colorBlack;
$backgroundFooter: $colorBlack;

// MEASUREMENTS
$headerHeightMobile: 130px;
$sectionHeightMobile: calc(100vh - 155px);
$footerHeightMobile: 25px;

$headerHeightTablet: 180px;
$sectionHeightTablet: calc(100vh - 210px);
$footerHeightTablet: 30px;

$headerHeightDesktop: 231px;
$sectionHeightDesktop: calc(100vh - 266px);
$footerHeightDesktop: 35px;